.base-page {
	min-height: calc(100vh - 7.2em);
}

.base-page.lighter {
	background-color: white;
}

.navbar-gradient {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(68%, rgba(245,245,245,1)), color-stop(100%, rgba(232,229,232,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e5e8', GradientType=0 );
}

.navbar-styled .navbar-nav > li > a{
	color:#747579;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {
	min-height:30px !important;
}

.navbar-styled .navbar-nav > li > a:hover,
.navbar-styled .navbar-nav > li > a:focus,
.navbar-styled .navbar-nav > .active > a,
.navbar-styled .navbar-nav > .active > a:hover,
.navbar-styled .navbar-nav > .active > a:focus,
.navbar-styled .navbar-nav > .open > a,
.navbar-styled .navbar-nav > .open > a:hover,
.navbar-styled .navbar-nav > .open > a:focus {
	color:white;
	background-color: #2e4395;
}


.navbar-styled .nav>li>a {
    padding: 12px 9px;
}


.row-disable {
	margin: 0px !important;
}

.header-item {
	padding: 15px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	background-color: #17badc;
	color: white;
}

.subheader-item {
	background-color: #94938f;
	color: white;
	text-align: right;
}

.data-item {
	padding: 34px;
}

.link-modal {
	margin-right: 15px;
}

.links-box {
	text-align: center;
}

.title-table {
	font-size: 13px;
	color: #75787b;
	font-weight: 600;
	width: 150px;
}

.label-custom {
	background-color: #e8a664;
}

/*menu*/
.list-group-container {
	width: 100%;
	text-align: center;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}

.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
	width: 180px;
	font-weight: bold;
}

.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}

.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.list-group-custom .list-group-item.active,
.list-group-custom .list-group-item:hover,
.list-group-custom .list-group-item:focus {
	background-color: #1f1a6b !important;
	border-color: #1f1a6b !important;
	color: white !important;
}

/*formularios*/
.formulario-section {
	width: 100%;
}

.form-content {
	text-align: center;
}

.form-row {
	margin: 15px	;
}

.my-chosen .chosen-results {
	max-height: 149px;
}

.personas-box {
	font-size: 15px;
	font-weight: 600;
}

.personas-box td{
	width: 150px;
}

.to-left {
	text-align: left;
}

.sugerencias-box {
	padding-top: 20px;
	padding-left: 5px;
}
.bubble-msg {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background-color: #fff;
	border: 1px solid;
	border-color: #bbb #bbb #a8a8a8;
	padding: 16px;
	position: relative;
	z-index: 1201 !important;
	left: -134px;
	height: 207px;
	width: 260px;
	top: 29px;
	max-height: 207px;
	max-width: 260px;
	overflow-y: auto;
	display: none;
}

.bubble-msg .item-horario {
	max-height: 40px;
}

.bubble-msg .item-horario:hover {
	background-color: whitesmoke;

}

.btn-save {
	position: relative;
	left: -7px;
	top: -55px;
	width: 114px;
	height: 33px
}

.event-blocked {
	background-color: whitesmoke;
}

.event-disp {
	cursor: pointer;
	color:#aeb3b9 !important;
	padding: 5px;
}

.event-disp a{
	color:#aeb3b9 !important;
}

.event-disp a:hover{
	color:white !important;
}

.event-disp:hover {
	background-color: #9de2a4;
	color:white !important;
}

.bubble-msg-new-event {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background-color: #fff;
	border: 1px solid;
	border-color: #bbb #bbb #a8a8a8;
	padding: 16px;
	position: relative;
	color: grey !important;
	z-index: 1201 !important;
	display: none;
	top: 13px;
	left: 0px;
	width: 300px;
}

.btn-group-box {
	margin-top: 15px;
	text-align: right;
}

.select-daily .chosen-container .chosen-single span {
	display: block !important;
}

.filter-box {
	padding-left: 15px;
	padding-right: 15px;
}

.header-user-edit {
	padding: 15px;
	font-size: 28px;
	display: inline;
}
.header-user-edit small {
	font-size: 15px;
}

.form-tittle {
	font-size: 15px;
	font-family: sans-serif;
	border-bottom: 1px solid whitesmoke;
	color: #7c7c7c;
}

.my-form .form-group {
	padding-top: 15px;
}

.my-form fieldset {
	margin-bottom: 20px;
}

.user-profile-box {
	margin: 0 auto;
	text-align: center;
}

.circle-calendar {
	display: inline;
}

.my-group-container {
	padding-top: 13px;
}

.my-group-container .list-group {
	margin-bottom: 0px;
}

.link-lighter {
	color: whitesmoke !important;
	font-size: 16px;
	font-family: sans-serif;
}