.base-page {
	min-height: calc(100vh - 7.2em);
}

.base-page.lighter {
	background-color: white;
}

.navbar-gradient {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(68%, rgba(245,245,245,1)), color-stop(100%, rgba(232,229,232,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e5e8', GradientType=0 );
}

.navbar-styled .navbar-nav > li > a{
	color:#747579;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {
	min-height:30px !important;
}

.navbar-styled .navbar-nav > li > a:hover,
.navbar-styled .navbar-nav > li > a:focus,
.navbar-styled .navbar-nav > .active > a,
.navbar-styled .navbar-nav > .active > a:hover,
.navbar-styled .navbar-nav > .active > a:focus,
.navbar-styled .navbar-nav > .open > a,
.navbar-styled .navbar-nav > .open > a:hover,
.navbar-styled .navbar-nav > .open > a:focus {
	color:white;
	background-color: #2e4395;
}


.navbar-styled .nav>li>a {
    padding: 12px 9px;
}


.row-disable {
	margin: 0px !important;
}

.header-item {
	padding: 15px;
	font-size: 15px;
	font-weight: 600;

}

.title-table {
	font-size: 13px;
	color: #75787b;
	font-weight: 600;
}

.label-custom {
	background-color: #aa5500;
}

/*menu*/
.list-group-container {
	width: 100%;
	text-align: center;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}

.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
	width: 180px;
	font-weight: bold;
}

.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}

.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

.list-group-custom .list-group-item.active,
.list-group-custom .list-group-item:hover,
.list-group-custom .list-group-item:focus {
	background-color: #1f1a6b !important;
	border-color: #1f1a6b !important;
	color: white !important;
}

/*formularios*/
.formulario-section {
	width: 100%;
}

.form-content {
	text-align: center;
}

.form-row {
	margin: 15px	;
}

.my-chosen .chosen-results {
	max-height: 149px;
}

.personas-box {
	font-size: 15px;
	font-weight: 600;
}

.personas-box td{
	width: 150px;
}

.to-left {
	text-align: left;
}

.sugerencias-box {
	padding-top: 20px;
	padding-left: 5px;
}
.bubble-msg {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background-color: #fff;
	border: 1px solid;
	border-color: #bbb #bbb #a8a8a8;
	padding: 16px;
	position: relative;
	z-index: 1201 !important;
	left: -134px;
	height: 207px;
	width: 260px;
	top: 29px;
	max-height: 207px;
	max-width: 260px;
	overflow-y: auto;
	display: none;
}

.bubble-msg .item-horario {
	max-height: 40px;
}

.bubble-msg .item-horario:hover {
	background-color: whitesmoke;

}