.base-page {
	min-height: calc(100vh - 7.2em);
}

.navbar-gradient {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(68%, rgba(245,245,245,1)), color-stop(100%, rgba(232,229,232,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 68%, rgba(232,229,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e5e8', GradientType=0 );
}

.navbar-styled .navbar-nav > li > a{
	color:#747579;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 30px;
}
.navbar {
	min-height:30px !important;
}

.navbar-styled .navbar-nav > li > a:hover,
.navbar-styled .navbar-nav > li > a:focus,
.navbar-styled .navbar-nav > .active > a,
.navbar-styled .navbar-nav > .active > a:hover,
.navbar-styled .navbar-nav > .active > a:focus,
.navbar-styled .navbar-nav > .open > a,
.navbar-styled .navbar-nav > .open > a:hover,
.navbar-styled .navbar-nav > .open > a:focus {
	color:white;
	background-color: #2e4395;
}


.navbar-styled .nav>li>a {
    padding: 12px 9px;
}


